<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/lib/owlcarousel/assets/owl.carousel.min.css" />
    <include path="~/lib/animate/animate.min.css" />
    <include path="~/css/bootstrap.min.css" />
    <include path="~/css/style.css" />
	  <include path="~/Content/login.css" />
  </styleBundle>
</bundles>